{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            <div class="markdown">
                {{ range .Data.Pages }}
                    {{ if eq .Params.Index true }}
                        {{ .Content }}
                    {{ end }}
                {{ end }}
            </div>
            <div class="posts">
            {{ if ne (len (where .Data.Pages "Params.Index" "!=" true)) 0}}
                <div class="page-heading">{{ replace .Title "-" " " }}</div>
                <ul>
                    {{ range .Data.Pages.ByPublishDate }}
                        {{ if ne .Params.Index true }}
                          <li class="post-item">
                              <a href="{{ .Permalink }}"><span>{{ .Title }}</span></a>
                          </li>
                        {{ end }}
                    {{ end }}
                </ul>
            {{ end }}
            </div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
