{{ partial "header.html" . }}

<section class="main post non-narrow zero-top-spacing">
    <div class="container">
        <div class="content">
            <div class="front-matter">
                <div class="title-container">
                    {{ partial "page-heading" . }}
                </div>
                <div class="meta">
                    <div class="reading-time">{{ if eq 1 .ReadingTime }}{{ .ReadingTime }} minute read{{ else }}{{ .ReadingTime }} minutes read{{ end }}</div>
                    <div class="social-media-share">
                      <div class="twitter-share">
                        <a class="twitter-share-button"
                          href="https://twitter.com/intent/tweet?via=flomotlik&text={{ .Title | truncate 90 " ..." }}&url={{ .Permalink }}">
                          Tweet
                        </a>
                      </div>
                      <div class="facebook-share">
                        <div class="fb-share-button" data-href="{{ .Permalink }}" data-layout="button_count" style="height:20px; vertical-align: top;"></div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="markdown">
                {{ .Content }}
                <p><a href="{{ .Section }}">Back to posts</a></p>
            </div>
            <br>
            <div class="disqus">
                {{ template "_internal/disqus.html" . }}
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
