<!-- Google Fonts - Nunito (warm, rounded, approachable) -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/ionicons.min.css">

{{ if .Site.Params.highlightjs }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/highlight.min.css">
{{ end }}

{{ if .Site.Params.progressively }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/progressively.min.css">
{{ end }}

{{range .Site.Params.extracssfiles}}
    <link rel="stylesheet" href="{{.}}">
{{end}}

<!-- Icon -->
<link rel="shortcut icon"
{{ if .Site.Params.faviconfile }}
    href="{{ .Site.Params.faviconfile | absURL }}"
{{ else }}
    href="{{ .Site.BaseURL }}img/favicon.ico"
{{ end }}
>

<!-- RSS -->
{{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
{{ end }}
