section.main .content .front-matter .social-media-share{
  margin-left: 10px;
}

section.main .content .front-matter .social-media-share div {
  display: inline;
}

.fb-share-button{
    position:relative;
    top:-6px;
}
